.button {
  font-family: $font-family;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 2px solid $white;
  padding: 20px;

  @media (min-width: $desktop-width) {
    padding: 25px;
  }

  &--secondary {
    color: $base;
    background-color: $white;
    border-color: $base;
  }
}
