// Fonts
$font-family: "Roboto Condensed", "Arial", sans-serif;
$second-family: "Alumni Sans", "Arial", sans-serif;

// Colors

$black: #333333;
$white: #ffffff;
$grey: #bdbdbd;
$primary: #7959cf;
$primary-lighter: #9070ec;
$primary-darker: #593cac;
$secondary: #f0ebff;
$light-grey: #e2e2e2;
$lightest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;
$espresso: #e5e6e8;

// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1439px;
$desktop-width: 1440px;
