.phone-link {
  @include link-reset;
  font-family: $font-family;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
  }

  &:hover {
    color: rgba($secondary, 0.5);
  }

  &:focus {
    color: $secondary;
  }

  &:active {
    color: $base;
    border-bottom: 1px solid $base;
    outline: none;
  }

  &:disabled {
    color: rgba($secondary-white, 0.5);
  }
}
